<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LeaderBoard_new</title>
    <!-- <link rel="stylesheet" href="/style.css"> -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <h1>Create a New Score</h1>

    <div class="entryForm">
      <form action="/entries" method="POST">
        <div class = inputDesign>
          Name <input class = "inputBox" type="text" name="name" value="" placeholder="Steve Jobs">
        </div>
        <div class = inputDesign>
          Score: <input class = "inputBox" type="number" name="score" value="" placeholder="110">
        </div>
        <div class = inputDesign>
          Initial: <input class = "inputBox" type="text" name="initial" value="" placeholder="Apple">
        </div>
        <div>

        <button type="submit">Submit Score</button>
      </form>
    </div>
  </body>
</html>
