<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>LeaderBoard_edit</title>
  <!-- <link rel="stylesheet" href="/style.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <h1>Edit Entries</h1>

  <div class="entries">

    <form method="POST" action="/entries" id="edit-post">

      <div>
        Name <input type="text" name="name" value="" placeholder="Name">
      </div>

      <div>
        Score: <input type="number" name="score" value="" placeholder="Score">
      </div>

      <div>
        Initial: <input type="text" name="initial" value="" placeholder="Initial">
      </div>

      <button type="submit">Save Changes</button>

    </form> <!-- Edit Entries Form -->

    <form method="POST" action="/entries" id="delete-post">
      <div>
        <button type="submit">Delete score</button>
      </div>
    </form>

  </div>
  <p>
    <a href="/entries"><< Back to leaderBoards</a>
  </p>
</body>
</html>
