<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>LeaderBoard_all</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

  <h1>All Scores</h1>

  <div class="score">
    <table id="mainTable" border='1'></table>
  </div>

    <script src="/main.js"></script>
  </body>
  </html>
