<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LeaderBoard_new</title>
    <!-- <link rel="stylesheet" href="/style.css"> -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>
  <body>
    <h1>Create a New Score</h1>

    <div class="product">
      <form action="/entries" method="POST">
        <div>
          Name <input type="text" name="name" value="">
        </div>
        <div>
          Score: <input type="number" name="score" value="">
        </div>
        <div>
          Initial: <input type="text" name="initial" value="">
        </div>
        <div>

        <button type="submit">Submit Score</button>
      </form>
    </div>
  </body>
</html>
