
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Leader Board</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
  <div id ="LeaderBoard">
    <input type="text" id="searchTerm" class="search_box" onkeyup="doSearch()" />
    <!-- Search Box -->
    <table id="table" border='1'>
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Score</th>
      </tr>
    </table>
  </div>

</body>
</html>
